---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

// Pictures
import InfusionsPic from '../assets/infusions.jpg'
import TeaPic from '../assets/tea.jpg'
import TrinityPic from '../assets/trinity.png'
import AccessoriesPic from '../assets/accessories.jpg'
import RecipesPic from "../assets/recipes.jpg"

// Markets
import TuZonaMarket from "../assets/markets/tuzonamarket.png"
import Kromi from "../assets/markets/kromi.svg"
import VidaAutoMercadods from "../assets/markets/vidaautomercados.png"
import BotigaGourmet from "../assets/markets/botigagrourmet.png"
import CrakosFood from "../assets/markets/crakosfood.png"
import FreshFish from "../assets/markets/freshfish.png"
---

<Layout title="Bienvenido a Maison Trinithe">
<section class="bg-gray-50 text-neutral-700">
  <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
    <div class="mx-auto max-w-xl text-center">
      <h1 class="text-3xl font-light sm:text-5xl">
        Maison Trinithe
      </h1>

      <p class="mt-4 sm:text-xl/relaxed font-light">
        SOMOS LA CELEBRACIÓN AL ARTE
      </p>


      <div class="mt-8 flex flex-wrap justify-center gap-4 mt-10">
        <a
          class="group relative inline-block text-sm font-normal text-neutral-700 focus:outline-none focus:ring active:text-red-500"
          href="#"
        >
          <span class="absolute inset-0 border border-current"></span>
          <span
            class="block border border-current bg-white px-12 py-3 transition-transform group-hover:-translate-x-1 group-hover:-translate-y-1"
          >
          Ir a la Tienda
          </span>
        </a>
      </div>

      <p class="mt-10 sm:text-sm/relaxed font-light">
        Clásico · Ceremonial · Artístico
      </p>

    </div>
  </div>
</section>
<section>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <header>
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">Nuestros Productos</h2>

      <p class="mt-4 max-w-md text-gray-500">
        Somos una marca exclusiva de té e infusiones provenientes del principal país exportador de té. 
      </p>

      <div class="mt-5">
        <a
          class="group relative inline-block text-sm font-normal text-neutral-700 focus:outline-none focus:ring active:text-red-500"
          href="#"
        >
          <span class="absolute inset-0 border border-current"></span>
          <span
            class="block border border-current bg-white px-12 py-3 transition-transform group-hover:-translate-x-1 group-hover:-translate-y-1"
          >
          ver la tienda
          </span>
        </a>
      </div>

    </header>

    <ul class="mt-16 grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
      <li>
        <a href="#" class="group block overflow-hidden">
          <Image src={InfusionsPic} alt="" class='h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]'/>

          <div class="relative bg-white pt-3">
            <h3 class="text-md text-gray-700 group-hover:underline group-hover:underline-offset-4">
              Infusiones
            </h3>
          </div>
        </a>
      </li>

      <li>
        <a href="#" class="group block overflow-hidden">
          <Image src={TeaPic} alt="" class='h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]'/>

          <div class="relative bg-white pt-3">
            <h3 class="text-md text-gray-700 group-hover:underline group-hover:underline-offset-4">
            Te
            </h3>
          </div>
        </a>
      </li>

      <li>
        <a href="#" class="group block overflow-hidden">
          <Image src={TrinityPic} alt="" class='h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]'/>

          <div class="relative bg-white pt-3">
            <h3 class="text-md text-gray-700 group-hover:underline group-hover:underline-offset-4">
            Trinity Pack
            </h3>
          </div>
        </a>
      </li>

      <li>
        <a href="#" class="group block overflow-hidden">
          <Image src={AccessoriesPic} alt="" class='h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]'/>

          <div class="relative bg-white pt-3">
            <h3 class="text-md text-gray-700 group-hover:underline group-hover:underline-offset-4">
            Accesorios
            </h3>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>


<section class="overflow-hidden bg-gray-50 sm:grid sm:grid-cols-2 sm:max-h-96">
  <div class="p-8 md:p-12 lg:px-16 lg:py-24">
    <div class="mx-auto max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
      <h2 class="text-2xl text-gray-900 md:text-3xl">
      Recetas
      </h2>

      <p class="hidden font-light text-gray-500 md:mt-4 md:block">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam
        sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue. Aliquet amet volutpat
        quisque ut interdum tincidunt duis.
      </p>

      <div class="mt-4 md:mt-8">
        <a
          class="group relative inline-block text-sm font-normal text-neutral-700 focus:outline-none focus:ring active:text-red-500"
          href="#"
        >
          <span class="absolute inset-0 border border-current"></span>
          <span
            class="block border border-current bg-white px-12 py-3 transition-transform group-hover:-translate-x-1 group-hover:-translate-y-1"
          >
          Ir a la Tienda
          </span>
      </div>
    </div>
  </div>

  <Image src={RecipesPic} alt="" class='w-full object-cover sm:h-full'/>
</section>

<div class="mt-16 flex flex-col w-full items-center gap-5 px-10">
  <h2 class="text-xl  text-gray-900 sm:text-3xl">Encuentranos <i class="fi fi-rr-marker"></i></h2>
  <p class="sm:text-sm/relaxed font-light max-w-lg text-center">
    Puedes encontrarnos en distintos mercados a lo largo de Valencia y Caracas, asi como nuestra <a class="text-sky-600 hover:text-sky-800" href="#">tienda online</a> para recibirlo desde donde estes.
  </p>
</div>

<div class="inline-flex flex-nowrap h-48 mb-24 ">
    <ul class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll ">
        <li>
          <a href="#">
            <Image class="w-40 hover:w-44 hover:drop-shadow-md transition-all duration-200" src={TuZonaMarket} alt='' />
          </a>
        </li>
        <li>
          <a href="#">
            <Image class="w-28 hover:w-32 hover:drop-shadow-md transition-all duration-200" src={Kromi} alt='' />
          </a>
        </li>
        <li>
          <a href="#">
            <Image class="w-40 hover:w-44 hover:drop-shadow-md transition-all duration-200" src={VidaAutoMercadods} alt='' />
          </a>
        </li>
        <li>
          <a href="#">
            <Image class="w-28 hover:w-32 hover:drop-shadow-md transition-all duration-200" src={BotigaGourmet} alt='' />
          </a>
        </li>
        <li>
          <a href="#">
            <Image class="w-24 hover:w-28 hover:drop-shadow-md transition-all duration-200" src={CrakosFood} alt='' />
          </a>
        </li>
        <li>
          <a href="#">
            <Image class="w-20 hover:w-24 hover:drop-shadow-md transition-all duration-200" src={FreshFish} alt='' />
          </a>
        </li>
    </ul>                

    <ul class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll" aria-hidden="true">
        <li>
          <a href="#">
            <Image class="w-40 hover:w-44 hover:drop-shadow-md transition-all duration-200" src={TuZonaMarket} alt='' />
          </a>
        </li>
        <li>
          <a href="#">
            <Image class="w-28 hover:w-32 hover:drop-shadow-md" src={Kromi} alt='' />
          </a>
        </li>
        <li>
          <a href="#">
            <Image class="w-40 hover:w-44 hover:drop-shadow-md" src={VidaAutoMercadods} alt='' />
          </a>
        </li>
        <li>
          <a href="#">
            <Image class="w-28 hover:w-32 hover:drop-shadow-md" src={BotigaGourmet} alt='' />
          </a>
        </li>
        <li>
          <a href="#">
            <Image class="w-24 hover:w-28 hover:drop-shadow-md" src={CrakosFood} alt='' />
          </a>
        </li>
        <li>
          <a href="#">
            <Image class="w-20 hover:w-24 hover:drop-shadow-md" src={FreshFish} alt='' />
          </a>
        </li>
    </ul>
</div>
</Layout>
